.thumbnail {
    &__image {
        &--big {
            max-height: 400px;
            max-width: 400px;
        }
    
        &--small {
            height: 160px;
            width: 160px;
        }
    }
}