@import '../../variables';

@import '../../_variables.scss';

.description {
    display: flex;
    justify-content: center;

    &__container {
        background-color: white;
        display: flex;
        padding: 10px;
        width: $width_container;
    }

    &__left {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
    }
}