@import '../../_variables.scss';

.results {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px 19%;

    &__container {
        align-items: center;
        background-color: white;
        border-bottom: $border;
        display: flex;
        padding: 15px;
        width: 100%;
    }

    &__description {
        display: flex;
        width: 100%;

        &__detail {
            cursor: pointer;
            display: flex;
            flex-direction: column;
            height: 100%;
            padding-left: 10px;
            width: 100%;

            &__price {
                color: #333;
                font-size: 24px;
                font-weight: 400;
                line-height: 1.25;
            }

            &__title {
                color: #333;
                font-size: 20px;
                font-weight: 300;
                line-height: 1.3;
            }
        }

       &__location {
           color: #333;
           display: flex;
           font-weight: 300;
           justify-content: flex-end;
           line-height: 1.3;
           width: 150px;
        }

        &__thumbnail {
            cursor: pointer;
            height: 160px;
            width: 160px;

            &__container {
                box-sizing: content-box;
                padding: 0 10px;
            }
        }
    }
}
